In [2]:
# 문자열

In [3]:
print("String Test")

String Test

In [4]:
print('String Test')

String Test

In [5]:
string1 = "String Test 1"
string2 = 'String Test 2'
print(string1)
print(string2)

String Test 1
String Test 2

In [6]:
type(string1)

str

In [7]:
type(string2)

str

In [8]:
string3 = 'This is a "double" quotation test'
string4 = "This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

In [10]:
long_string1 = '''[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있다
'''
print(long_string1)

[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있다

In [12]:
a = 'Enjoy '
b = 'python!'
c= a + b
print(c)

Enjoy python!

In [13]:
print(a * 3)

Enjoy Enjoy Enjoy

In [ ]:
# 리스트

In [14]:
#1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90,95,85,80
student1 = [90,95,85,80]
student1

[90, 95, 85, 80]

In [15]:
type(student1)

list

In [16]:
type(long_string1)

str

In [17]:
student1[0]

90

In [18]:
student1[1]

95

In [19]:
student1[-1]

80

In [20]:
student1[1] = 100 #두 번쨰 항목에 새로운 데이터 할당
student1

[90, 100, 85, 80]

In [21]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends

['James', 'Robert', 'Lisa', 'Mary']

In [22]:
myFriends[2]

'Lisa'

In [23]:
myFriends[3]

'Mary'

In [24]:
myFriends[-1]

'Mary'

In [26]:
mixedList = [0, 2, 3.14, 'python', 'program', True, myFriends]
mixedList

[0, 2, 3.14, 'python', 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]

In [28]:
type(mixedList)

list

In [29]:
# 리스트 다루기
list_con1=[1,2,3,4]
list_con2=[5,6,7,8]
list_con = list_con1 + list_con2 #리스트 연결

print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
list_con1 = [1,2,3,4]
list_con2 = list_con * 3 #리스트 반복
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
# 리스트 중 일부 항목 가져오기
list_data = [0,1,2,3,4,5,6,7,8,9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [34]:
# 리스트에서 항목 삭제하기
print(list_data)
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [36]:
# 리스트에서 항목의 존재 여부 확인하기
list_data1 = [1, 2, 3, 4, 5]
print(5 in list_data1)
print(6 in list_data1)

True
False

In [3]:
# 리스트 메서드 활용하기
"자료형,메서드이름()"
'변수명, 메서드이름()'

'변수명, 메서드이름()'

In [4]:
myFriends.append('Thomas')
myFriends.insert(1, 'Paul')
myFriends.extend(['Laura', "Betty"])
myFriends = myFriends.pop()
myFriends = myFriens.index('Lisa')

NameError: name 'myFriends' is not defined