In [1]:
# 변수의 유효 범위

In [3]:
a = 5 #전역 변수

def func1():
    a = 1 #지역 변수. func1()에서만 사용
    print("[func1] 지역 변수 a=", a)
    
def func2():
    a = 2 #지역 변수, func2()에서만 사용
    print("[func2] 지역 변수 a=", a)

def func3():
    print("[func3] 지역 변수 a=", a)

def func4():
    global a #함수 내에서 전역 변수를 변경하기 위해 선언
    a = 4     #전역 변수의 값 변경
    print("[func4] 지역 변수 a=", a)

In [4]:
func1() #함수 func1()호출
func2() #함수 func2()호출
print("전역 변수 a =", a) #전역 변수 출력

[func1] 지역 변수 a= 1
[func2] 지역 변수 a= 2
전역 변수 a = 5

In [5]:
func3()
func4()
func3()

[func3] 지역 변수 a= 5
[func4] 지역 변수 a= 4
[func3] 지역 변수 a= 4

In [6]:
# 람다(lambda)
# lambda <인자> : <인자 활용 수행 코드>
(lambda x : x**2) (3)

9

In [7]:
mySquare = lambda x : x**2
mySquare(2)

4

In [8]:
mySquare(5)

25

In [9]:
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

In [10]:
# 유용한 내장 함수
# 형 변환 함수(정수, 실수,문자형,리스트, 튜플, 세트형 등)

In [11]:
# 정수형으로 변환
[int(0.123), int(3.5123456), int(-1.312367)]

[0, 3, -1]

In [13]:
[int('1234'), int('5678'), int('-9012')]  #문자열이 실수를 표시하거나 숫자 외의 문자가 포함돼 있는 경우 int()로 변환을 시도하면 오류가 발생

[1234, 5678, -9012]

In [14]:
# 실수형으로 변환
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [15]:
[float('10'), float('0.123'), float('-567.89')]   #문자열이 실수를 표시하거나 숫자 외의 문자가 포함돼 있는 경우 float()로 변환을 시도하면 오류가 발생

[10.0, 0.123, -567.89]

In [16]:
# 문자형으로 변환
[str(123), str(459678), str(-987)]

['123', '459678', '-987']

In [83]:
[str(0.123), str(345.678), str(-5.987)]

['0.123', '345.678', '-5.987']

In [34]:
# 리스트, 튜플, 세트형으로 변환
list_data = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data = {'abc', 1, 2, 'def'}

In [25]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [26]:
print("리스트로 변환: ", list(tuple_data), list(set_data))

리스트로 변환:  ['abc', 1, 2, 'def'] ['abc', 2, 'def', 1]

In [27]:
print("튜플로 변환: ", tuple(list_data), tuple(set_data))

튜플로 변환:  ('abc', 1, 2, 'def') ('abc', 2, 'def', 1)

In [38]:
print("세트로 변환: ", set(list_data), set(tuple_data))

세트로 변환:  {'abc', 2, 'def', 1} {'abc', 2, 'def', 1}

In [39]:
# bool 함수
# 숫자를 인자로 bool 함수 호출
bool(0) # 인자 : 숫자 0

False

In [40]:
bool(1) # 인자 : 양의 정수

True

In [41]:
bool(-10) # 인자 : 음의 정수

True

In [42]:
bool(5.12) # 인자 : 양의 실수

True

In [43]:
bool(-3.26) # 인자 : 음의 실수

True

In [44]:
# 문자열을 인자로 bool 함수 호출
bool('a') # 인자 : 문자열 'a'

True

In [45]:
bool(' ') # 인자 : 빈 문자열(공백)

True

In [46]:
bool('') # 인자 : 문자열 없음

False

In [47]:
bool(None) # 인자 : None

False

In [48]:
# 리스트, 튜플, 세트를 인자로 bool 함수 호출
myFriends = []
bool(myFriends) #인자 : 항목이 없는 빈 리스트

False

In [49]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
bool(myFriends) # 인자 : 항목이 있는 리스트

True

In [50]:
myNum = ()
bool(myNum) # 인자 : 항목이 없는 빈 튜플

False

In [52]:
myNum = (1,2,3)
bool(myNum) # 인자 : 항목이 있는 튜플

True

In [53]:
mySetA = {}
bool(mySetA) # 인자 : 항목이 없는 빈 세트

False

In [54]:
mySetA = {10,20,30}
bool(mySetA) # 인자 : 항목이 있는 세트

True

In [55]:
# bool 함수의 활용

In [56]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")

In [57]:
print_name("James")

입력된 이름: James

In [58]:
print_name("")

입력된 이름이 없습니다.

In [59]:
# 최솟값과 최댓값을 구하는 함수
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)]

[0, 99.5]

In [60]:
myStr = 'zxyabc'
[min(myStr), max(myStr)]

['a', 'z']

In [61]:
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myNum)]

[0, 99.5]

In [62]:
myNum = {"ABC", "abc", "bcd", "efg"}
[min(myNum), max(myNum)]

['ABC', 'efg']

In [63]:
# 절댓값과 전체 합을 구하는 함수
[abs(10), abs(-10)]

[10, 10]

In [64]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [65]:
sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(sumList)

55

In [67]:
# 항목의 개수를 구하는 함수
len("ab cd") # 문자열

5

In [69]:
len([1,2,3,4,5,6,7,8]) # 리스트

8

In [70]:
len((1, 2, 3, 4, 5)) # 튜플

5

In [71]:
len({'a', 'b', 'c', 'd'}) #세트

4

In [72]:
len({1:"Thomas", 2:"Edward", 3:"Henry"})  # 딕셔너리

3

In [82]:
# 내장 함수의 활용
scores = [90, 80, 95, 85
         
         
         
         AAA] #과목별 시험 점수

score_sum=0       #  총점 계산을 위한 초깃값 설정
subject_num = 0   #  과목수 계산을 위한 초깃값 설정
for socre in score:
    score_sum = score_sum + score # 과목별 점수 모두 더하기
    subject_num = subject_num + 1 # 과목수 계산
average = score_sum/subject_num   # 평균(총점 / 과목수) 구하기

print("총점:{0}, 평균:{1}".format(score_sum, average))

TypeError: unsupported operand type(s) for +: 'int' and 'list'