In [1]:
# 입력과 출력

In [2]:
# 화면 출력

In [3]:
# 기본 출력
print("Hello Python!!")

Hello Python!!

In [4]:
print("Best", "python", "book")

Best python book

In [6]:
print("Best", "python", "book", sep="-:*:-")
# sep = 문자열 (sep 인자를 지정하지 않으면 기본적으로 빈칸이 들어간다)

Best-:*:-python-:*:-book

In [7]:
print("abcd" + "efg")

abcdefg

In [8]:
print("Best", "python", "book" + ":", "This book")

Best python book: This book

In [9]:
x = 10
print(x)

10

In [10]:
name = "James"
ID_num = 789
print("Name:", name + ",", "ID Number:", ID_num)

Name: James, ID Number: 789

In [11]:
print("James is my friend.\nHe is Korean.")

James is my friend.
He is Korean.

In [12]:
# 개행문자 입력
# 개행문자는 \n 이며 키보드에서는 ￦n으로 입력한다.(줄바꿈)

In [13]:
print("James is my friend.\n\nHe is Korean.")

James is my friend.

He is Korean.

In [14]:
print("Welcome to ")
print("python!")

Welcome to
python!

In [2]:
print("Welcome to ", end="")
print("python!")
# end="" 줄 바꿈 없이 연결되어 출력

Welcome to python!

In [3]:
# 형식 지정 출력

In [4]:
# 나머지 연산자(%)를 이용한 형식 및 위치 지정
# print("%type" %data)  기본구조
name = "광재"
print("%s는 나의 친구입니다." %name)

광재는 나의 친구입니다.

In [5]:
r = 3 #변수 r에 정수 데이터 할당
PI = 3.14159265358979 #변수 PI에 실수 데이터 할당
print("반지름 : %d, 원주율 : %f" %(r, PI)) #지정된 위치에 데이터 출력

반지름 : 3, 원주율 : 3.141593

In [6]:
# 형식 지정 문자열에서 출력 위치 지정
print("{0} {1} {2} ... {n}".format(data_0, data_1, data_2, ..., data_n))
# 형식 지정 문자열의 구조인 'string.format()'으로 데이터를 출력한 예이다.

NameError: name 'data_0' is not defined

In [8]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal : {0}".format(animal_0))
print("Animal : {0},{1},{2}".format(animal_0, animal_1, animal_2))

Animal : cat
Animal : cat,dog,fox

In [9]:
print("Animal : {1},{2},{0}".format(animal_0, animal_1, animal_2))

Animal : dog,fox,cat

In [10]:
print("Animal : {0},{2}".format(animal_0, animal_1, animal_2))

Animal : cat,fox

In [11]:
print("Animal : {}, {}, {}".format(animal_0, animal_1, animal_2))

Animal : cat, dog, fox

In [12]:
name = "Tomas"
age = 10
a =0.1234567890123456789
fmt_string = "String: {0}. Integer Number: {1}. Floating Number : {2}"
print(fmt_string.format(name, age, a))

String: Tomas. Integer Number: 10. Floating Number : 0.12345678901234568

In [13]:
# 형식 지정 문자열에서 숫자 출력 형식 지정

In [14]:
a = 0.1234567890123456789
print("{0:.2f}, {0:.5f}".format(a))

0.12, 0.12346

In [2]:
b = 3
print("{0:2d}, {0:05d}".format(b))

 3, 00003

In [3]:
c = 12
print("{0:>5d}".format(c))

   12

In [4]:
d = 0.12345
print("{0:.3f}".format(d))

0.123

In [5]:
e = 7456000
print("{0:,}".format(e))

7,456,000

In [6]:
f = 0.3258
print("{0:.1%}".format(f))

32.6%

In [7]:
g = 9250000000
print("{0:.2e}".format(g))

9.25e+09

In [9]:
h = 16
print("{0:#X}".format(h))

0X10

In [10]:
i = 8
print("{0:#o}".format(i))

0o10

In [12]:
j = 2
print("{0:#b}".format(j))

0b10

In [13]:
# 키보드 입력
yourName  = input("당신의 이름은?")
print("당신은 {}이군요.".format(yourName))

당신의 이름은?박종헌
당신은 박종헌이군요.

In [14]:
num = input("숫자를 입력하세요 : ")
print("당신이 입력한 숫자는 {}입니다.".format(num))

숫자를 입력하세요 : 5
당신이 입력한 숫자는 5입니다.

In [15]:
a = input("정사각형 한 변의 길이는?: ")
area = int(a) ** 2
print("정사각형의 넓이: {}".format(area))

저사각형 한 변의 길이는?: 15
정사각형의 넓이: 225

In [18]:
b = input("정사각형 한 변의 길이는?:")
area = float(b) ** 2
print("정사각형의 넓이 : {}".format(area))

정사각형 한 변의 길이는?:1.5
정사각형의 넓이 : 2.25

In [21]:
c = input("정사각형 한 변의 길이는?:")
area = float(c) ** 2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는?:3
정사각형의 넓이: 9.0