In [1]:
# 튜플 만들기

In [2]:
tuple1 = (1,2,3,4)
tuple1

(1, 2, 3, 4)

In [3]:
type(tuple1)

tuple

In [4]:
tuple1[1]

2

In [5]:
tuple1[2]

3

In [7]:
tuple2=5,6,7,8
print(tuple2)

(5, 6, 7, 8)

In [8]:
type(tuple2)

tuple

In [10]:
tuple3 = (9,) #항목을 한개만 갖는 튜플은 항목을 입력한 후에 반드시 콤마(,)필요
tuple4 = 10, #항목을 한개만 갖는 튜플은 항목을 입력한 후에 반드시 콤마(,) 필요
print(tuple3)
print(tuple4)

(9,)
(10,)

In [11]:
# 튜플 다루기

In [12]:
tuple5 = (1,2,3,4,)
tuple5[1] = 5 #한번 생성된 튜플의 요소는 변경되지 않음

TypeError: 'tuple' object does not support item assignment

In [13]:
del tuple5[1] #한번 생성된 튜플 요소는 삭제되지 않음

TypeError: 'tuple' object doesn't support item deletion

In [14]:
tuple6 = ('a', 'b', 'c', 'd', 'e', 'f')
tuple6.index('c')

2

In [15]:
tuple7 = ('a', 'a', 'a', 'b', 'b', 'c', 'd')
tuple7.count('a')

3

In [16]:
# 세트 만들기

In [18]:
set1= {1,2,3}
set1a = {1, 2, 3, 3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [19]:
type(set1)

set

In [20]:
# 세트의 교집합, 합집합, 차집합 구하기

In [21]:
A = {1, 2, 3, 4, 5}     #Set A
B = {4, 5, 6, 7, 8, 9, 10}     #Set B
A.intersection(B)       # 집합 A에 대한 집합 B의 교집합(A instersection B)

{4, 5}

In [22]:
A.union(B) #집합 A에 대한 집합 B의 합집합(A union B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [23]:
A.difference(B) #집합 A에 대한 집합 B의 차집합(A difference B)

{1, 2, 3}

In [24]:
A = {1,2,3,4,5}  #Set A
B = {4,5,6,7,8,9,10}  #Set B
A & B            #집합 A에 대한 집합 B의 교집합(A intersection)

{4, 5}

In [26]:
A | B #집합 A에 대한 집합 B의 합집합(A union B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [27]:
A - B #집합 A에 대한 집합 B의 차집합(A difference B)

{1, 2, 3}

In [28]:
# 리스트, 튜플, 세트 간 타입 변환

In [29]:
a = [1,2,3,4,5]
type(a)

list

In [30]:
b = tuple(a)
b

(1, 2, 3, 4, 5)

In [31]:
type(b)

tuple

In [32]:
c = set(a)
c

{1, 2, 3, 4, 5}

In [33]:
type(c)

set

In [34]:
list(b)

[1, 2, 3, 4, 5]

In [35]:
list(c)

[1, 2, 3, 4, 5]